.menuHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 345px;
}

.menuHeader_text {
  margin: 0 30px 0 30px;
  text-decoration:none;
  color: black;
}

.menuHeader_text:active {
  color: #518581;
  border-bottom: 3px solid #518581;
  padding-bottom: 49px;
}
