.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 2px solid #f3f3f3;
  padding: 0 100px 0 100px;
  box-sizing: border-box;
}

.userInterfaceHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
