.mainName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.mainTitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  color: #151411;
}

.mainText {
  width: 600px;
  height: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: #afadb5;
}
