.img {
  width: 394px;
  height: 360px;
}

.card {
}

.title{
  margin-top: 14px;
}
.titleText {
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #151411;
  text-decoration: none;

}

.combinationText {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #afadb5;
  margin-top: 6px;
}

.categoryText {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #afadb5;
  margin-top: 26px;
}

.priceText {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #151411;
  margin-top: 18px;
}
