.img {
  width: 394px;
  height: 360px;
}

.blockText {
  width: 394px;
  margin-top: 26px;
  overflow: hidden;
  white-space: nowrap;
  gap: 15px;
}

.titleText {
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  color: #151411;
  text-decoration: none;
  text-overflow: ellipsis;
}

.combinationText {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #afadb5;
  text-decoration: none;
  margin-top: 6px;
}
